@model List<LokacijaVm>

<h2>Lokacije</h2>

@if (TempData["Err"] != null)
{
    <p style="color:red">@TempData["Err"]</p>
}

<form method="get">
    <input name="q" value="@ViewBag.Q" placeholder="Pretraži..." />
    <button type="submit">Traži</button>
    <a asp-action="Create">+ Nova lokacija</a>
</form>

<table>
    <thead><tr><th>Naziv</th><th></th></tr></thead>
    <tbody>
        @foreach (var l in Model)
        {
            <tr id="row-@l.Id">
                <td>@l.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@l.Id">Uredi</a>

                    <button type="button"
                            class="btn-delete"
                            data-id="@l.Id">
                        Obriši
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    int page = ViewBag.Page;
    int totalPages = ViewBag.TotalPages;
    string q = ViewBag.Q;
}

<div>
    @if (page > 1)
    {
        <a asp-action="Index" asp-route-page="@(page - 1)" asp-route-q="@q">← Prethodna</a>
    }

<span>Stranica @@page / @totalPages</span>
    @if (page < totalPages)
    {
        <a asp-action="Index" asp-route-page="@(page + 1)" asp-route-q="@q">Sljedeća →</a>
    }
</div>


@section Scripts {
    <script>
        document.querySelectorAll(".btn-delete").forEach(btn => {
            btn.addEventListener("click", async () => {
                const id = btn.dataset.id;
                if (!confirm("Obrisati?")) return;

                const res = await fetch(`/Lokacija/DeleteAjax/${id}`, { method: "DELETE" });

                if (res.ok) document.getElementById(`row-${id}`)?.remove();
                else alert("Greška: " + await res.text());
            });
        });
    </script>
}